include *.sublime-*
exclude *.sublime-project

include *.rst
exclude _*.txt

include *.py
exclude sublime_inspect.py
exclude setup.py

recursive-include Support *.*
recursive-include Snippets *.*
recursive-include Lib *.py

recursive-exclude PackageDev *.*

recursive-exclude dist *.*
recursive-exclude tests *.*