name: Syntax Tests

on:
  push:
    paths:
      - '.github/workflows/syntax.yml'
      - '**.sublime-syntax'
      - '**/syntax_test*'
      - '**.tmPreferences'
  pull_request:
    paths:
      - '.github/workflows/syntax.yml'
      - '**.sublime-syntax'
      - '**/syntax_test*'
      - '**.tmPreferences'

jobs:
  main:
    name: Syntax Tests (${{ matrix.build }}, ${{ matrix.packages }})
    strategy:
      matrix:
        include:
          # latest dev build
          # This test must pass, the others are optional
          # due to changes in the Packages repo that affect our tests.
          - build: latest
            packages: v4129
            continue_on_error: false
          # last dev & Packages `master`
          - build: latest
            packages: master
            continue_on_error: true
          # latest stable build
          - build: 4126
            packages: v4126
            continue_on_error: true
          # earliest stable build supported by the current release branch
          - build: 4107
            packages: v4107
            continue_on_error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: SublimeText/syntax-test-action@v2
        with:
          build: ${{ matrix.build }}
          default_packages: ${{ matrix.packages }}
        # On the step level, this does not cause the entire job to fail
        # and thus mark PRs as failing when only one of our tests failed.
        # See also https://github.com/github/feedback/discussions/15452.
        continue-on-error: ${{ matrix.continue_on_error }}
